.sidebar {
    display: inline-block;
    padding:20px 20px;
    background-color: tomato;
    height: 300px;
    padding-top: 200px;
}

.sidebar-item {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 20px 30px;
}
.sidebar-item:hover {
    background-color: blue;
}
.sidebar-item:active {
    background-color: blue;
}
