.sidebar {
    padding:20px 20px;
    background-color: tomato;
}

.sidebar-item {
    cursor: pointer;
}
.sidebar-item:hover {
    background-color: blue;
}
.sidebar-item:active {
    background-color: blue;
}
